body, html{ 
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.2rem;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
}
.myApp {
    display: block;
    width: 100vw;
    height: 100vh;
}

textarea, input {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.CodeMirror-scroll, 
.CodeMirror-lines {
    width: 100%;
}
.CodeMirror-hscrollbar { display: none!important; }
.CodeMirror pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.CodeMirror { 
    height: 100%;
    word-wrap: break-word; 
}